*
{
	margin: 0;
	padding:0;
}
#nav-bar
{
	position : sticky ;
	top : 0;
	z-index: 10;
}
.navbar-brand img
{
	background-color:#e6ecff ;
	height :50px;
	padding-left :40px;
	padding-right: 10px;
}
.navbar-nav li 
{
	text-decoration-color:yellow;
	background-color:#e6ecff ;
	font-family: Georgia ;
	font-size-adjust: 20px;
	margin:0;
	padding:0px 20px; 
	display: block;
	height :50px;
	display: block;
}
.navbar-nav li 
{
	float : left ; 
	text-align: right;
	height :35px;
}
#nav-bar ul li a:hover
{
	color: navy!important;
}
.navbar
{
	background-color: #e6ecff;
}
.navbar-toggler
{
	border: 30px ;
}
.nav-link 
{
	color :#555!important;
	font-weight: 600;
	font-size: 14px;
}
.form-inline
{
		font-size: 8px;
		padding-left: 80px;
}
#slider
{
	width:100%;
}
.carousel-caption
{
	font-family: Arial	;
	top:50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
li a:hover
{
	background-color: lightgrey;

li a 
{
	display: block;
}
table
{
	text-align: center;
}